.explanation {
  padding-top: 20px;
  padding-bottom: 130px;

  @media screen and (min-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1920px) {
    padding-top: 124px;
    padding-bottom: 190px;
  }
}

.explanation__container {
  position: relative;
}

.explanation__back-image {
  display: none;

  @media screen and (min-width: 768px) {
    position: absolute;
    width: 300px;
    left: 600px;
    top: 10px;
    z-index: -1;
    display: block;
  }

  @media screen and (min-width: 1024px) {
    position: absolute;
    width: 506.82px;
    height: 505.64px;
    left: 700px;
    top: 50px;
  }
  @media screen and (min-width: 1920px) {
    position: absolute;
    width: 506.82px;
    height: 505.64px;
    left: 1284px;
    top: -50px;
    z-index: -1;
    display: block;
  }
}

.explanation__box {
  text-align: center;
}

.explanation__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.22;

  color: var(--primary-color);

  margin-bottom: 35px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    margin-bottom: 55px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 36px;
    margin-bottom: 75px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 182px;
    height: 0px;
    left: 70px;
    top: 45px;

    border: 4px dashed #000000;

    @media screen and (min-width: 768px) {
      width: 239px;
      height: 0px;
      left: 270px;
      top: 45px;
    }

    @media screen and (min-width: 1024px) {
      left: 400px;
      top: 60px;
    }

    @media screen and (min-width: 1920px) {
      width: 239px;
      height: 0px;
      left: 840px;
      top: 70px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 215px;
    height: 21px;
    left: 55px;
    top: 10px;

    background: #ffcede;
    border-radius: 40px;
    z-index: -1;

    @media screen and (min-width: 768px) {
      width: 250px;
      height: 20px;
      left: 260px;
      top: 10px;
    }
    @media screen and (min-width: 1024px) {
      width: 400px;
      height: 30px;
      left: 310px;
      top: 15px;
    }

    @media screen and (min-width: 1920px) {
      width: 430px;
      height: 41px;
      left: 745px;
      top: 15px;
    }
  }
}

.explanation__text--1 {
  font-family: "Montserrat";

  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;

  color: var(--primary-text-color);

  margin-bottom: 15px;

  @media screen and (min-width: 1024px) {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.4;
  }

  @media screen and (min-width: 1920px) {
    font-size: 20px;
  }
}

.explanation__text--2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 20px;

  color: var(--primary-text-color);

  @media screen and (min-width: 1024px) {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.4;
  }

  @media screen and (min-width: 1920px) {
    font-size: 20px;
  }
}

.explanation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 10px 20px;
    justify-content: center;
  }

  @media screen and (min-width: 1024px) {
    gap: 20px 70px;
    justify-content: center;
    margin-top: 50px;
  }
  @media screen and (min-width: 1920px) {
    gap: 20px;
  }
}

.explanation__item {
  background: #ffffff;
  border: 1px solid #dfdede;
  border-radius: 20px;
  width: 290px;

  @media screen and (min-width: 1024px) {
    width: auto;
  }
}

.explanation__item:not(:last-child) {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.explanation__box--card {
  padding: 20px;

  @media screen and (min-width: 1024px) {
    padding: 25px;
  }
}

.explanation__box--text {
  @media screen and (min-width: 1024px) {
    margin-top: 15px;
  }
  margin-top: 25px;
}

.explanation__card-text {
  width: 250px;
  @media screen and (min-width: 1024px) {
    width: 340px;
  }
}

.explanation__card-title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  color: var(--primary-color);
  margin-bottom: 25px;

  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 170px;
    height: 0px;
    left: 0px;
    top: 25px;

    border: 4px dashed #ed769c;

    @media screen and (min-width: 1024px) {
      top: 30px;
    }
  }
}

.explanation__card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  color: var(--primary-text-color);

  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
