.footer {
  padding-top: 75px;
  padding-bottom: 540px;
}

.footer__container {
  position: relative;
}

.footer__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;

  color: var(--primary-color);
  text-align: center;
  margin-bottom: 75px;

  &::before {
    content: "";
    position: absolute;
    width: 239px;
    height: 0px;
    left: 840px;
    top: 70px;

    border: 4px dashed #000000;
  }

  &::after {
    content: "";
    position: absolute;
    width: 430px;
    height: 41px;
    left: 745px;
    top: 15px;

    background: #ffcede;
    border-radius: 40px;
    z-index: -1;
  }
}

.form__box {
  position: absolute;
  width: 430px;
  height: 96px;
  left: 1060px;
  top: 344px;
}

.form_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.45;

  text-transform: uppercase;

  color: #000000;
}

.subscribe__form {
  display: flex;

  margin-top: 40px;
}

.subscribe__input {
  box-sizing: border-box;

  width: 430px;
  height: 60px;

  background: #ffffff;
  border: 1px solid #a7a7a7;
  border-radius: 4px;

  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #a3a3a3;
  padding: 19px 130px 19px 30px;
}

.subscribe-button {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(180deg, #ed769c 0%, #bb466b 100%);
  border-radius: 8px;
  color: var(--bgcolor);

  cursor: pointer;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  align-items: center;

  border-radius: 8px;
  padding: 20px 55px;
  min-width: 243px;
  margin-left: 16px;

  // &:hover,
  // &:focus {
  //   background-image: var(--linear-gradient);
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 243px;
  //   height: 75px;
  //   left: 0px;
  //   top: 22px;

  //   background: rgba(171, 4, 54, 0.2);
  //   filter: blur(20px);
  //   border-radius: 4px;
  // }
}

.subscribe-button .button__text {
  position: relative;
  z-index: 2;
}

.subscribe-button .button__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--linear-gradient);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.subscribe-button:hover .button__overlay,
.subscribe-button:focus .button__overlay {
  opacity: 1;
}

.footer__back-image {
  position: absolute;
  width: 996px;
  height: 1583px;
  left: 153px;
  top: -92px;
}

.circle-8 {
  position: absolute;
  width: 698px;
  height: 693px;
  left: 214px;
  top: 193px;

  background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
  border-radius: 50%;
  z-index: -1;
}
.circle-9 {
  position: absolute;
  width: 1231px;
  height: 1221px;
  left: 120px;
  top: 20px;

  background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
  transform: rotate(-90deg);
  border-radius: 50%;
  z-index: -1;
}
