.footer {
  padding-top: 30px;
  padding-bottom: 60px;

  @media screen and (min-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1920px) {
    padding-top: 75px;
    padding-bottom: 540px;
  }
}

.footer__container {
  position: relative;
  height: 630px;

  @media screen and (min-width: 1024px) {
    height: 395px;
  }

  @media screen and (min-width: 1920px) {
    height: 540px;
  }
}

.footer__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.22;
  text-align: center;

  color: var(--primary-color);

  margin-bottom: 50px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 36px;
    margin-bottom: 75px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 182px;
    height: 0px;
    left: 70px;
    top: 45px;

    border: 4px dashed #000000;

    @media screen and (min-width: 1024px) {
      width: 239px;
      height: 0px;
      left: 400px;
      top: 60px;
    }

    @media screen and (min-width: 1920px) {
      width: 239px;
      height: 0px;
      left: 840px;
      top: 70px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 215px;
    height: 21px;
    left: 55px;
    top: 15px;

    background: #ffcede;
    border-radius: 40px;
    z-index: -1;

    @media screen and (min-width: 1024px) {
      width: 350px;
      height: 30px;
      left: 335px;
      top: 15px;
    }

    @media screen and (min-width: 1920px) {
      width: 430px;
      height: 41px;
      left: 745px;
      top: 15px;
    }
  }
}

.form__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  position: absolute;

  top: 108px;

  @media screen and (min-width: 1024px) {
    width: 430px;
    height: 96px;
    left: 450px;
    top: 200px;
    justify-content: start;
  }

  @media screen and (min-width: 1920px) {
    left: 1060px;
    top: 344px;
  }
}

.form_text {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.45;
  text-align: center;
  width: 250px;
  margin-bottom: 310px;
  align-items: center;

  text-transform: uppercase;

  color: #000000;

  @media screen and (min-width: 1024px) {
    font-size: 22px;
    margin-bottom: 0;
    text-align: start;
    width: auto;
  }
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    margin-top: 40px;
    justify-content: start;
    flex-wrap: nowrap;
  }
}

.subscribe__input {
  box-sizing: border-box;

  width: 250px;
  height: 50px;

  background: #ffffff;
  border: 1px solid #a7a7a7;
  border-radius: 4px;

  font-family: "Montserrat";
  font-weight: 400;
  font-size: 10px;
  line-height: 1.22;
  color: #a3a3a3;
  padding: 15px 120px 15px 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 1024px) {
    width: 350px;
    height: 60px;
    padding: 19px 130px 19px 30px;
    font-size: 18px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1920px) {
    width: 430px;
  }
}

.subscribe-button {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(180deg, #ed769c 0%, #bb466b 100%);
  border-radius: 8px;
  color: var(--bgcolor);

  cursor: pointer;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  align-items: center;

  border-radius: 8px;
  padding: 15px 20px;
  min-width: 250px;

  box-shadow: 0px 20px 8px rgba(171, 4, 54, 0.2);

  @media screen and (min-width: 1024px) {
    min-width: 50px;
    height: 60px;
    padding: 5px 15px;
    margin-left: 16px;
  }

  @media screen and (min-width: 1920px) {
    min-width: 290px;
    padding: 20px 55px;
    font-size: 20px;
  }
}

.subscribe-button .button__text {
  position: relative;
  z-index: 2;
}

.subscribe-button .button__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--linear-gradient);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.subscribe-button:hover .button__overlay,
.subscribe-button:focus .button__overlay {
  opacity: 1;
}

.footer__back-image {
  position: absolute;
  width: 333.02px;
  height: 529px;
  left: 41px;
  top: 127px;

  @media screen and (min-width: 1024px) {
    width: 700px;
    height: 1583px;
    left: -100px;
    top: -92px;
  }

  @media screen and (min-width: 1920px) {
    width: 996px;
    height: 1583px;
    left: 153px;
    top: -92px;
  }
}

.circle-8 {
  position: absolute;
  width: 233px;
  height: 232px;
  left: 61.15px;
  top: 222px;

  background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
  border-radius: 50%;
  z-index: -1;

  @media screen and (min-width: 1024px) {
    width: 200px;
    height: 200px;
    left: 0px;
    top: 100px;
  }

  @media screen and (min-width: 1920px) {
    width: 698px;
    height: 693px;
    left: 214px;
    top: 193px;
  }
}
.circle-9 {
  @media screen and (min-width: 1024px) {
    position: absolute;
    width: 1100px;
    height: 1100px;
    left: 450px;
    top: 20px;

    background: linear-gradient(
      180deg,
      #f7f1ff 0%,
      rgba(247, 241, 255, 0) 100%
    );
    transform: rotate(-90deg);
    border-radius: 50%;
    z-index: -1;
  }
  @media screen and (min-width: 1920px) {
    left: 1150px;
    top: 200px;
  }
}
