.hero {
  padding-top: 25px;
  padding-bottom: 95px;

  @media screen and (min-width: 1920px) {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}

.hero__container {
  position: relative;
}

.hero__box {
  position: relative;
  width: 317px;
  height: 191px;
  left: 17px;
  top: 25px;
  @media screen and (min-width: 1920px) {
    margin: 0;
    width: 464px;
    height: 610px;
    left: 416px;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--linear-gradient);
  border-radius: 40px;

  margin: 0px 0px 25px 0px;

  animation-name: bounce-1;
  animation-timing-function: linear;

  width: 125px;
  height: 30px;
  @media screen and (min-width: 1920px) {
    width: 306px;
    height: 75px;
    margin: 0px 0px 40px 0px;
  }
}

.logo__icon {
  width: 40px;
  height: 50px;

  @media screen and (min-width: 1920px) {
    width: 100px;
    height: 125px;
  }
}

.logo__icon-container {
  animation: slide 3s infinite;
}
@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.logo__text {
  color: var(--bgcolor);

  font-family: "Montserrat";
  font-weight: 800;
  font-size: 16px;
  line-height: 1.21;
  @media screen and (min-width: 1920px) {
    font-size: 46px;
  }
}

.hero__title {
  color: var(--primary-color);

  font-family: "Montserrat";
  font-weight: 800;
  font-size: 20px;
  line-height: 1.62;
  position: relative;
  margin-bottom: 10px;
  width: 250px;

  @media screen and (min-width: 1920px) {
    font-size: 46px;
    margin-bottom: 30px;
    width: 450px;
  }
}

.hero__text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.45;
  margin-bottom: 275px;
  width: 286px;

  @media screen and (min-width: 1920px) {
    font-size: 22px;
    margin-bottom: 55px;
    width: 430px;
    margin-bottom: 55px;
  }
}

.button.primary {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  color: var(--bgcolor);
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 700;

  font-size: 16px;
  line-height: 1.2;
  align-items: center;
  box-shadow: 0px 40px 8px rgba(171, 4, 54, 0.2);

  padding: 15px 45px;
  min-width: 290px;

  background-image: linear-gradient(180deg, #ed769c 0%, #bb466b 100%);

  @media screen and (min-width: 1920px) {
    font-size: 20px;
    min-width: 340px;
    padding: 22px 40px;
  }
}

.button.primary .button__text {
  position: relative;
  z-index: 2;
}

.button.primary .button__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--linear-gradient);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button.primary:hover .button__overlay,
.button.primary:focus .button__overlay {
  opacity: 1;
}

.hero__image {
  position: absolute;
  width: 286px;
  height: 314px;
  left: 45.91px;
  top: 241px;

  z-index: -1;

  @media screen and (min-width: 1920px) {
    width: 1248.73px;
    height: 951px;
    left: 769.55px;
    top: -130px;
    z-index: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.circle-1 {
  position: absolute;
  width: 389px;
  height: 389px;
  left: -15px;
  top: 277px;

  background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
  border-radius: 50%;
  z-index: -1;
  @media screen and (min-width: 1920px) {
    position: absolute;
    width: 1538px;
    height: 1538px;
    left: 922px;
    top: -335px;

    background: linear-gradient(
      180deg,
      #f7f1ff 0%,
      rgba(247, 241, 255, 0) 100%
    );
  }
}

.circle-2 {
  @media screen and (min-width: 1920px) {
    position: absolute;
    width: 494px;
    height: 494px;
    left: -181px;
    top: -200px;

    background: linear-gradient(
      180deg,
      #faf5ff 0%,
      rgba(250, 245, 255, 0) 100%
    );
    border-radius: 50%;
    z-index: -1;
  }
}

.circle-3 {
  @media screen and (min-width: 1920px) {
    position: absolute;
    width: 131px;
    height: 131px;
    left: 182px;
    top: 670px;

    background: linear-gradient(
      180deg,
      #f7f1ff 0%,
      rgba(247, 241, 255, 0) 100%
    );
    border-radius: 50%;
    z-index: -1;
  }
}

.circle-4 {
  @media screen and (min-width: 1920px) {
    position: absolute;
    width: 325px;
    height: 325px;
    left: -118px;
    top: 840px;

    background: linear-gradient(
      180deg,
      #f7f1ff 0%,
      rgba(247, 241, 255, 0) 100%
    );
    border-radius: 50%;
    z-index: -1;
  }
}
