.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;

  @media screen and (min-width: 360px) {
    width: 360px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}
