:root {
  --primary-color: #161616;
  --bgcolor: #ffffff;
  --primary-text-color: #515151;
  --btn-color: #515151;
  --black:#000000

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow--accent: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --linear-gradient: linear-gradient(90deg, #515151 17.32%, #1d1d1d 72.55%);
}
